<div class="center hero-unit span8 offset2">
  <h1>Welcome to Boxer</h1>

<div class="container row">
  <div id="myCarousel" class="carousel slide span4">
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="active item">
        <img src="http://www.brickstonecommercial.net/assets/templates/commercial/images/udc01iz4.jpg" alt="">
      </div>
      <div class="item">
        <img src="http://www.atlantabusinesslawyer.com/images/design-swappable.jpg" alt="">
      </div>
      <div class="item">
        <img src="http://lasvegascommercialrealestateproperty.com/wp-content/uploads/2010/11/Commercial-Building-11.jpg" alt="">
      </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>
  <div class="span4">
    <form class="well">
      <h3>Sign Up for Your 30 Day Free Trial!</h3>
      <label>Name</label>
      <input type="text" class="span3" placeholder="Name">
      <label>Email</label>
      <input type="text" class="span3" placeholder="name@example.com">
      <button type="submit" class="btn btn-large">Submit</button>
    </form>
  </div>
</div>

  <%= link_to "Try free for 30 days! Sign up now!", "#", class: "btn btn-large btn-primary" %>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>

  <%= link_to "Try free for 30 days! Sign up now!", "#", class: "btn btn-large btn-primary" %>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  </p>

  <%= link_to "Try free for 30 days! Sign up now!", "#", class: "btn btn-large btn-primary" %>

</div>

